#root {
  margin: 20px
}

body {
  margin: 0;
  background-color: darkgreen;
  display: flex;
  justify-content: center;
}

main {
  background-color: #F5F5F5;
  width: 80rem;
  height: 50rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}